body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --terracot: #D24136;
  --terracot-mid:rgba(210, 64, 54, 0.5);
  --honey: #EB8A3E;
  --honey-mid: rgba(255, 179, 122, 0.5);
  --biscotti: #EBB582;
  --ocean-mid: rgba(120, 165, 163, 0.5);
  --glaze: #DDC5A2;
  --wall: #785A46;
  --white: white;
  --black: black;
}
